body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #ffffff;
    font-family: 'open sans', sans-serif;
    font-size: 1em;
    letter-spacing: .015em;
}

hr {
    border: none;
    border-top: 1px solid $header-border;
}

blockquote {
    padding: 5px 10px;
    background: $blockquote-back;
    border-left: $border-radius solid $blockquote-border;
    border-radius: $border-radius;
    line-height: 1.4;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

code, pre {
    font-family: 'inconsolata', monospace;
}

pre {
    line-height: 1.3;
}

table {
    border-collapse: separate;
    border: 1px solid $lc-sep-border;
    border-radius: $border-radius;
}

th {
    padding: 8px;
    font-weight: bold;
    font-size: 1.1em;
}

td {
    padding: 8px;
    border-bottom: 1px solid $lc-sep-border;
}

tr:last-child{
    td {
        border-bottom: none;
    }
}

a, a:visited {
    color: $ud-link;
}

a:hover, a:active {
    color: $ud-link-hover;
}

code {
    display: inline-block;
    border-radius: $border-radius;
    padding: 0 4px;
    background: $code-color;
}
